<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="p-16">

    <mat-expansion-panel expanded class="mb-16">
      <mat-expansion-panel-header>
        <mat-panel-title>Budget Accounts</mat-panel-title>
        <mat-panel-description>({{budgetAccounts.length}})</mat-panel-description>
      </mat-expansion-panel-header>

      <p *ngFor="let account of budgetAccounts">{{account.name}} {{account.balance}}</p>
    </mat-expansion-panel>

    <mat-expansion-panel expanded class="mb-16">
      <mat-expansion-panel-header>
        <mat-panel-title>Off Budget Accounts</mat-panel-title>
        <mat-panel-description>({{offBudgetAccounts.length}})</mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <button mat-button color="primary" on-click="addAccount()">Add Account</button>
  </mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>