<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="p-16">

    <mat-expansion-panel expanded [hideToggle]="true" class="mb-16">
      <a routerLink="budgets">Budgets</a>
      <a routerLink="reports">Reports</a>
      <a routerLink="accounts">All Accounts {{$account.totalBalance}}</a>
    </mat-expansion-panel>

    <mat-expansion-panel expanded class="mb-16">
      <mat-expansion-panel-header>
        <mat-panel-title>Budget Accounts</mat-panel-title>
        <mat-panel-description>${{$account.budgetAccounts | pluck: 'balance' | sum}}</mat-panel-description>
      </mat-expansion-panel-header>

      <a *ngFor="let account of $account.budgetAccounts" [routerLink]="'accounts/'+account.id">{{account.name}} {{account.balance}}</a>
    </mat-expansion-panel>

    <mat-expansion-panel expanded class="mb-16">
      <mat-expansion-panel-header>
        <mat-panel-title>Off Budget Accounts</mat-panel-title>
        <mat-panel-description>${{$account.offBudgetAccounts | pluck: 'balance' | sum}}</mat-panel-description>
      </mat-expansion-panel-header>

      <p *ngFor="let account of $account.offBudgetAccounts">{{account.name}} {{account.balance}}</p>
    </mat-expansion-panel>

    <button mat-button color="primary" on-click="addAccount()">Add Account</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>