@import '~@angular/material/theming';

:host {
  height: calc(100vh - 32px);
  overflow: auto;
  padding: 16px;
  display: block;
}

.table-container {
  overflow: auto;
  height: calc(100vh - 112px);
  margin-bottom: 16px;
}

.spacer {
  flex: 1 1 auto;
}